<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netdisk.cloudserver.mapper.UserFilesMapper">

    <!-- 根据父条目查看子条目列表 -->
    <select id="selectUserItemsByItemPId" resultType="com.netdisk.entity.UserFiles">
        select *
        from user_files
        where p_id = #{itemPId}
          and user_id = #{userId}
    </select>

    <!-- 根据 item_id 检查用户条目 -->
    <select id="selectUserItemByItemId" resultType="com.netdisk.entity.UserFiles">
        select *
        from user_files
        where item_id = #{itemId}
          and user_id = #{userId}
    </select>

    <!-- 根据item_id删除条目 -->
    <delete id="deleteUserItemByItemId">
        delete
        from user_files
        where item_id = #{itemId}
          and user_id = #{userId}
    </delete>

    <!-- 删除item_id这个条目的子条目 -->
    <delete id="deleteUserItemsByPId">
        delete
        from user_files
        where p_id = #{itemPId}
    </delete>

    <!-- 新增用户条目 -->
    <insert id="insertNewItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into user_files (user_id, item_name, item_type, p_id, directory_level,
                                file_id, file_size, file_cover, file_extension,
                                upload_time, update_time, recycle_status)
        VALUES (#{userId}, #{itemName}, #{itemType}, #{pId}, #{directoryLevel},
                #{fileId}, #{fileSize}, #{fileCover}, #{fileExtension},
                #{upLoadTime}, #{updateTime}, #{recycleStatus})
    </insert>


    <!-- 从 user_file 表中查询所有数据 -->
    <select id="selectAllUserItems" resultType="com.netdisk.entity.UserFiles">
        select *
        from user_files
    </select>


</mapper>